{% extends 'base.html' %}
{% load partials %}
{% block title %}Active Search with django-watson{% endblock %}

{% block main %}
    <div class="row p-md-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="get" action="{% url 'starwars:index' %}" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search character"
                           name="search" value="{{ user_search }}"
                           aria-label="Search character" aria-describedby="search-button"
                           data-hx-get="{% url 'starwars:index' %}" data-hx-indicator="#indicator"
                           data-hx-target="#characters" data-hx-swap="outerHTML"
                           data-hx-trigger="input changed delay:500ms, search"
                           data-hx-push-url="true">
                    <button class="btn btn-outline-primary" type="button" id="search-button">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    {% partialdef character-list inline=True %}
        <div id="characters">
            {% for character in characters %}
                {% if forloop.last and characters.has_next %}
                    <section class="row m-md-2"
                             data-hx-get="{% url 'starwars:index' %}?page={{ characters.next_page_number }}"
                             data-hx-trigger="revealed" data-hx-swap="afterend" data-hx-indicator="#indicator"
                             data-hx-include="input">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <article class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ character.name }}</h5>
                                    <a href="{% url 'starwars:show-character' character.id %}">More information</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3"></div>
                    </section>
                {% else %}
                    <section class="row m-md-2">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <article class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ character.name }}</h5>
                                    <a href="{% url 'starwars:show-character' character.id %}">More information</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3"></div>
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    {% endpartialdef %}
    <div class="row">
        <div class="col-md-3"></div>
        <span id="indicator" class="col-md-6 text-center htmx-indicator">Loading...</span>
        <div class="col-md-3"></div>
    </div>
{% endblock %}